@import "../../App.scss";

.face-recognition {
  display: flex;
  justify-content: center;
  margin: 25px auto;

  .image {
    border-radius: 3px;
    box-shadow: 0px 0px 10px $dark;
    min-width: 500px;
    max-width: 750px;
    max-height: 40vh;
    height: auto;

    &:hover {
      opacity: 0.9;
      box-shadow: 0px 0px 5px $light;
    }
  }

  .image-wrapper {
    position: relative;

    .bounding-box {
      position: absolute;
      box-shadow: 0 0 0 3px $pink inset;
      display: flex;
    }
  }
}
