@import "../../App.scss";

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

  .sign-out {
    margin-top: 25px;
    padding: 10px 15px;
    cursor: pointer;
  }
}
