@import "../../App.scss";

.image-link-form {
  .title {
    font-size: 2rem;
  }
  .subtitle {
    text-align: center;
    margin: 20px 0;
    font-size: 1.2rem;
    font-weight: lighter;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
    color: lighten($dark, 20%);
    box-shadow: 0 0 5px $border-color;

    .form-group {
      flex: 1 1 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px; //TODO: REMOVE

      &:hover {
        box-shadow: 0 0 5px $light;
      }

      .text-input {
        width: 100%;
        height: 30px;
        padding: 20px 10px;
        font-size: 1rem;
        color: lighten($dark, 20%);
        border: none;
      }

      .btn {
        padding: 8px 30px;
        background-color: $purple;
        color: $light;
        font-size: 1.25rem;
        border: none;

        &:hover {
          background-color: $yellow;
          color: $dark;
          cursor: pointer;
        }
      }
    }

    .example {
      color: darken($light, 20%);
      font-size: small;
      text-decoration: underline;
    }
  }
}
