@mixin heading-link {
  color: $link;
}

@mixin heading {
  font-family: $serif;
  margin-bottom: 0.35em;
  text-align: center;
  line-height: 1.2;
  color: inherit;
  a {
    @include heading-link;
  }
}

@mixin heading-1 {
  @include heading;
  font-size: 2rem;
}

@mixin heading-2 {
  @include heading;
  font-size: 1.75rem;
}

@mixin heading-3 {
  @include heading;
  font-size: 1.5rem;
}

@mixin heading-4 {
  @include heading;
  font-size: 1.25rem;
}

@mixin heading-5 {
  @include heading;
  font-size: 1rem;
}

@mixin heading-6 {
  @include heading;
  font-size: 0.875rem;
}
