* {
  font-family: $sans-serif;
}

body {
  background-color: $bg-color;
  background: $purple;
  background: linear-gradient(135deg, $purple 0%, $purple 20%, $pink 70%);
  background-repeat: no-repeat;
  font-family: $sans-serif;
  font-weight: lighter;
  font-size: 16px;
  line-height: 1.5;
  color: white;
}

h1 {
  @include heading-1;
}
h2 {
  @include heading-2;
}
h3 {
  @include heading-3;
}
h4 {
  @include heading-4;
}
h5 {
  @include heading-5;
}
h6 {
  @include heading-6;
}

a {
  color: $link;
  text-decoration: none;
  cursor: pointer;
}

input,
.btn {
  &:focus {
    outline: 0;
  }
}
